.project {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}

.project img {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 4px
}

#project-info {
    display: inline-block;
    margin: 5px;
}