.sidebar {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    width: 17%;
    margin-left: 10px;
    margin-right: 1%;
    height: 89.5vh;
    /* border: 1px solid red; */
    vertical-align: top;
}
