body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background-color: rgb(250, 250, 250);
}

h1 {
  text-align: center;
}

.title {
  text-align: center;
}


.snapshot {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: 20px;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

#snapshot-title {
  font-style: italic;
  padding-left: 45px;
}

.app-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line when there's not enough space */
}

.main-container {
  display: inline-block;
  flex: 1; /* Allow it to grow and shrink */
  /* Add any other styles you need for .main-container */
}

/* .selected-project-details {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 10px;
  position: sticky;
  top: 20px;
}
 */

 .selected-project-details {
  display: inline-block;
  flex: 1; /* Allow it to grow and shrink */
  vertical-align: top;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 10px;
  /* Add any other styles you need for .selected-project-details */
  padding: 5px;
}

/* Add a media query to change the flex-direction when the window is narrow */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack elements vertically */
  }
}